<div class="pageTitle">
  <h1>Edit <%= @contact.Contact_id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @contact.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @contact.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @contact.object %>"/>
    <ul>

          <li>
            <label for="contact[MrMrs]" class="fieldLabel">Salutation</label>
            <input type="text" name="contact[MrMrs]" value="<%= @contact.MrMrs %>" <%= placeholder( "MrMrs" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>