<div class="pageTitle">
  <h1>Edit <%= @lead.Lead_id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @lead.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @lead.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @lead.object %>"/>
    <ul>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>