<div class="pageTitle">
  <h1>New <%= @lead.title %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a class="cancel" href="<%= url_for :action => :index %>">Cancel</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :create %>">
    <input type="hidden" name="id" value="<%= @lead.object %>"/>
    <ul>
		<li>
            <label for="lead[Name]" class="fieldLabel">Name</label>
            <input type="text" name="account[Name]" <%=
            placeholder("Name") %> />
        </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Create"/>
  </form>
</div>