<div id="pageTitle">
		<h1>Edit <%= @account.id%></h1>
</div>

<div id="toolbar">
    <%= link_to "Back", :action => :show, :id => @account.object %>
    <%= link_to "Delete", :action => :delete, :id => @account.object %>
</div>


<div id="content">
    <form method="POST" action="<%= url_for :action => :update %>">
    	<input type="hidden" name="id" value="<%= @account.object %>"/>
            <table>
        		
                    <tr>
            			<td class="itemLabel">Id: </td>
              			<td class="itemValue"><input type="text" name="account[id]" value="<%= @account.id %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Name: </td>
              			<td class="itemValue"><input type="text" name="account[Name]" value="<%= @account.Name %>"/></td>
          		    </tr>
        		
                    <tr>
            			<td class="itemLabel">Type: </td>
              			<td class="itemValue"><input type="text" name="account[Type]" value="<%= @account.Type %>"/></td>
          		    </tr>
        		
            </table>
            <input type="submit" class="standardButton" value="Update" />
    </form>
</div>
