<div class="pageTitle">
  <h1>Edit <%= @account.id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @account.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @account.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @account.object %>"/>
    <ul>
      
          <li>
            <label for="account[id]" class="fieldLabel">Id</label>
            <input type="text" name="account[Id]" value="<%= @account.Id %>" <%= placeholder( "Id" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>