<div class="toolbar">
    <div class="leftItem <%= @doc_def["leftclass"].nil? ? "regularButton" : @doc_def["leftclass"] %>"
		<a href="<%= @doc_def["lefturi"] %>"><%= @doc_def["lefttext"] %></a>
	</div>
    <div class="rightItem <%= @doc_def["rightclass"].nil? ? "regularButton" : @doc_def["rightclass"] %>"
		<a href="<%= @doc_def["righturi"] %>"><%= @doc_def["righttext"] %></a>
	</div>
</div>
