<div class="pageTitle">
  <h1>Edit <%= @activity.Activity_Id %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @activity.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @activity.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @activity.object %>"/>
    <ul>
      
          <li>
            <label for="activity[Id]" class="fieldLabel">Id</label>
            <input type="text" name="activity[Id]" value="<%= @activity.Id %>" <%= placeholder( "Activity id" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>